<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/data/jpa 
                           http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
<context:annotation-config/>
<tx:annotation-driven transaction-manager="transactionManager" mode="aspectj" proxy-target-class="true"/>
<!-- 
	<bean id="coreResource" class="org.springframework.jndi.JndiObjectFactoryBean">
   		 <property name="jndiName" value="java:comp/env/jdbc/coreResource"/>
	</bean>
	 
	<bean id="sessionFactory" 
    class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
      <property name="dataSource" ref="coreResource" />
      <property name="packagesToScan" value="com.utopia" />
      
      <property name="hibernateProperties">
         <props>
            <prop key="hibernate.dialect">${hibernate.dialect}</prop>
         </props>
      </property>
      
   </bean>
   -->
   <jpa:repositories base-package="com.utopia"  />
    <bean id="pum" class="org.springframework.data.jpa.support.MergingPersistenceUnitManager">
			<property name="defaultPersistenceUnitName" value="coreResource"/>
	</bean>
    
    <!--  
   <bean id="pum" class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
	</bean>
	-->
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
	  <property name="persistenceUnitManager" ref="pum"/>
	</bean>
	<jpa:repositories base-package="com.utopia" />	
	<!-- 

	<bean id="txManager" 
    		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />   	
   </bean>

   <bean id="persistenceExceptionTranslationPostProcessor" 
    	class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
 -->
 
	
  
 
  <bean id="transactionManager"
          class="org.springframework.orm.jpa.JpaTransactionManager"
          p:entityManagerFactory-ref="entityManagerFactory"
          />  
    
     
      
    <bean id="UtopiaHibernateStringEncryptor"
    			class="org.jasypt.hibernate4.encryptor.HibernatePBEStringEncryptor">
    	<property name="registeredName">
        	<value>UtopiaHibernateStringEncryptor</value>
    	</property>
	    <property name="password">
	        <value>${encryptionSALT}</value>
	    </property>
  </bean>
     
  <bean id="UtopiaProperties" class="com.utopia.core.util.UtopiaPropertiesFactoryBean">
    	<property name="entityManagerFactory" ref="entityManagerFactory"/>
    	<property name="systemNames"  >
			<list>
				<value>Core</value>
				<value>Common</value>
			</list>
    	</property>
	</bean>
	<context:property-placeholder properties-ref="UtopiaProperties" />	
</beans>     